/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
body{ 
	font-family: 'Lilita One', cursive;
	overflow: hidden;
	width:100%;
	height:100%;
	margin:0px;
	padding:0px;
	background-color: #000;
} 
#container{
	position: absolute;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	overflow: hidden;
}

::-moz-selection{
	background-color:Transparent;
	color:#000;
}
::selection {
	background-color:Transparent;
	color:#000;
}
a:link {
	color:#30ff00;
	text-decoration: none;
}
a:visited {
	color:#30ff00;
	text-decoration: none;
}
a:hover {
	color:#eeeeee;
	text-decoration: none;
}
a:active {
	color:#30ff00;
	text-decoration: none;
}
/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* DANCERS */
.dance_outter{
	position: absolute;
	width:auto;
	height:auto;
	background-color:rgba(0,0,0,0.0);
	border: none;
	cursor:move;
}
.resize_help{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 17px;
	bottom: 3px;
	font-size: 10px;
	color: #ccc;
}
.bfront{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 5px;
	top: 3px;
	font-size: 10px;
	color: #ccc;
	cursor: pointer;
}
.bfront:hover{
	color: #fcff00;
}
.bback{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 45px;
	top: 3px;
	font-size: 10px;
	color: #ccc;	
	cursor: pointer;
}
.bback:hover{
	color: #fcff00;
}
.close_dancer{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	left: 5px;
	top: 3px;
	font-size: 10px;
	color: #ccc;
	cursor: pointer;	
}
.close_dancer:hover{
	color: #ff02fc;
}
.clone_dancer{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	left: 5px;
	bottom: 3px;
	font-size: 10px;
	color: #ccc;
	cursor: pointer;	
}
.clone_dancer:hover{
	color:#00ffba;
}
.flip{
	​-moz-transform: scaleX(-1);
	-o-transform: scaleX(-1);
	-webkit-transform: scaleX(-1);
	transform: scaleX(-1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* HEADER */
#menu_top{
	font-size: 20px;
	position: absolute;
	text-align:center;
	left:0px;
	top:0px;
	background-color:rgba(30,30,30,0.6);
	padding-top: 8px;
	padding-bottom: 8px;
	width: 100%;
	z-index: 998;
}
.menu_item{
	display: inline-block;
	width: auto;
}
.menu_hover{
	cursor: pointer;
}
.menu_hover:hover{
	color:#fff;
}
.menu_sel{
	font-family: 'Lilita One';
	font-size: 20px;
}



/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* MODAL */
.modal{
	width:550px;
	height: auto;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10000;
	background-color:rgba(0,0,0,0.7);
	padding:25px;
	font-family: 'Lilita One', cursive;
	color:#fff;
	border-radius: 5px;
	font-size:30px;
}
.close_modal{
    color: #ddd;
    cursor: pointer;
    display: block;
    float: right;
    font-family: Verdana,Geneva,sans-serif;
    font-size: 16px;
    margin-right:-18px;
    margin-top:-18px;
}

#modal_about a{
	color: #f368ff;
	text-decoration: none;
}
#modal_about a:link{
	color: #f368ff;
	text-decoration: none;
}
#modal_about a:hover{
	color: #fff;
	text-decoration: none;
}
#modal_submit a{
	color: #00ffba;
	text-decoration: none;
}
#modal_submit a:link{
	color: #00ffba;
	text-decoration: none;
}
#modal_submit a:hover{
	color: #fff;
	text-decoration: none;
}
#modal_share a{
	color: #f54848;
	text-decoration: none;
}
#modal_share a:link{
	color: #f54848;
	text-decoration: none;
}
#modal_share a:hover{
	color: #fff;
	text-decoration: none;
}
#input_shareURL{
	font-family: 'Lilita One', cursive;
	font-size:23px;
	width:300px;
	padding:2px 5px;
	color: #f54848;
}
#copy_button{
	cursor:pointer;
	font-size:23px;
	padding:2px 5px;
	background-color: #f54848;	
	color:#000;
	font-family: 'Lilita One', cursive;
	border:none;
}
#modal_loading{
	width:510px;
	height: auto;
	z-index: 2000;
	position: absolute;
	text-align: center;
	padding:5px 10px;
	font-family: 'Lilita One', cursive;
	font-size: 30px;
	color: #fff;
}
#modal_select_dancer{
	width:458px;
	padding:5px;
	height: 400px;
	overflow-y:scroll;
}
.dancer_thumb{
	border:2px solid #000;
	display:block;
	float:left;
	background-color:rgba(160,160,160,0.4);
	padding:0px;
	margin:3px;
	width: 100px;
	height:100px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 50px;
}
.dancer_thumb:hover{
	border:2px solid #fff;
}
.song_list{
	font-size:24px;
	color:#ffd283;
	margin-bottom: 3px;
}
.song_list:hover{
	color:#fff;
	cursor: pointer;
}
.submit_background_button{
	font-family: 'Lilita One', cursive;
	font-size:30px;
	color:#ff61af;
}
.submit_background_input{
	font-family: 'Lilita One', cursive;
	font-size:20px;
	width:500px;
	cursor:pointer;
	color:#ff61af;
	height: auto;
	height: 30px;
}


/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

/* ++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */
/* FOOTER */
#likethis{
	background-image:url('img/likethis.png');
	width:170px;
	height: 26px;
	position: absolute;
	z-index: 3000;
	right:10px;
	bottom:10px;
	cursor: pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#likethis:hover{
	opacity:1.0;
	filter:alpha(opacity=100);	
}
.fb-like{
    bottom: 21px;
    height: 25px;
    position: absolute;
    right: 13px;
}
#fuzzy_footer{
	position: absolute;
	z-index: 10000;
	left:10px;
	bottom:10px;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:11px;
	color:#eee;
	opacity:0.6;
	filter:alpha(opacity=60);
}
#fake_like{
	position: absolute;
	z-index: 10000;
	right:10px;
	bottom:10px;	
}
















