html, body{ 
	font-family: 'Lilita One', cursive;
	overflow: hidden;
} 
a:link {
	color:#c73439;
	text-decoration: none;
}
a:visited {
	color:#c73439;
	text-decoration: none;
}
a:hover {
	color:#eeeeee;
	text-decoration: none;
}
a:active {
	color:#c73439;
	text-decoration: none;
}

 ::-moz-selection{
    background-color:Transparent;
    color:#000;
    }

    ::selection {
    background-color:Transparent;
    color:#000;
    }

    
.largetext{
	font-family: 'Lilita One', cursive;
	font-size: 80px;
	color: #000;
}
#pause_button{
	color:#ffd283;
}
#pause_button:hover{
	color:#fff;
}
#likethis{
	background-image:url('/img/likethis.png');
	width:170px;
	height: 26px;
	position: absolute;
	z-index: 3000;
	right:10px;
	bottom:10px;
	cursor: pointer;
	opacity:0.5;
	filter:alpha(opacity=50);
}
#fuzzy{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size:14px;
	color:#c73439;
	width:auto;
	height: 13px;
	position: absolute;
	z-index: 2800;
	left:5px;
	bottom:10px;
	opacity:0.7;
	filter:alpha(opacity=70);	
}
#fuzzy a{
	color:#999;
}
#fuzzy a:hover{
	color:#eee;
}
#likethis:hover{
	opacity:1.0;
	filter:alpha(opacity=100);	
}
.content_center{
	width: 100%;
	margin-top:80px;
	position: absolute;
	z-index: 2000;
	/*border: thin solid #ff0000;*/
}
#modal_about{
	width:550px;
	height: auto;
	background-color:rgba(0,0,0,0.7);
	z-index: 2000;
	margin-left:auto;
	margin-right: auto;
	/*position: absolute; */
	/*left: 40px; */
	/*top: 80px; */
	padding:5px;
	font-family: 'Lilita One', cursive;
	font-size: 30px;
	color: #fff;
}
#modal_about a{
	color: #f368ff;
	text-decoration: none;
}
#modal_about a:link{
	color: #f368ff;
	text-decoration: none;
}
#modal_about a:hover{
	color: #fff;
	text-decoration: none;
}



#modal_loading{
	width:490px;
	height: auto;
	background-color:rgba(0,0,0,0.7);
	z-index: 2000;
	margin-left:auto;
	margin-right: auto;
	text-align: center;
	/*position: absolute; */
	/*left: 40px; */
	/*top: 80px; */
	padding:5px 10px;
	font-family: 'Lilita One', cursive;
	font-size: 30px;
	color: #fff;
}

#modal_submit{
	width:550px;
	height: auto;
	background-color:rgba(0,0,0,0.7);
	z-index: 2000;
	margin-left:auto;
	margin-right: auto;
	/*position: absolute; */
	/*left: 40px; */
	/*top: 80px; */
	padding:5px;
	font-family: 'Lilita One', cursive;
	font-size: 30px;
	color: #fff;
}
#modal_submit a{
	color: #00ffba;
	text-decoration: none;
}
#modal_submit a:link{
	color: #00ffba;
	text-decoration: none;
}
#modal_submit a:hover{
	color: #fff;
	text-decoration: none;
}
#close_modal_about,#close_modal_submit{
	display:block;
	float:right;
	color:#ddd;
	cursor: pointer;
	font-size:16px;
	font-family: Verdana, Geneva, sans-serif;
}

.menu_sel{
	font-family: 'Lilita One';
	font-size: 20px;
}
.dance_outter{
	position: absolute;
	width:auto;
	height:auto;
	background-color:rgba(0,0,0,0.0);
	border: none;
}
.dance_outter:hover{
	cursor:move;
}
.resize_help{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 17px;
	bottom: 3px;
	font-size: 10px;
	color: #ccc;
}
.bfront{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 5px;
	top: 3px;
	font-size: 10px;
	color: #ccc;
	cursor: pointer;
}
.bfront:hover{
color: #fcff00;
}
.bback{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	right: 48px;
	top: 3px;
	font-size: 10px;
	color: #ccc;	
	cursor: pointer;
}
.bback:hover{
	color: #fcff00;
}
.close_dancer{
	font-family: Verdana, Geneva, sans-serif;
	position: absolute;
	left: 5px;
	top: 3px;
	font-size: 10px;
	color: #ccc;
	cursor: pointer;	
}
.close_dancer:hover{
	color: #ff02fc;
}
#menu_top{
	font-size: 20px;
	position: absolute;
	text-align:center;
	left:0px;
	top:0px;
	background-color:rgba(30,30,30,0.6);
	padding-top: 5px;
	padding-bottom: 5px;
	width: 100%;
	z-index: 998;
}
.menu_item{
	display: inline-block;
	width: auto;
}


    #share:hover {
      color: #fff;
    }
    #share {
      cursor: pointer;
    }
    #modal_share {
        background-color: rgba(0, 0, 0, 0.7);
        color: #FFFFFF;
        font-family: 'Lilita One', cursive;
        font-size: 30px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        padding:5px;
        width: 550px;
        z-index: 2000;
    }
    #close_modal_share {
        color: #DDDDDD;
        cursor: pointer;
        display: block;
        float: right;
        font-family: Verdana,Geneva,sans-serif;
        font-size: 16px;
    }


/* hover menu items ----------------------------- */
#dancefloorswitch{
	cursor: pointer;
}
#dancefloorswitch:hover{
	color: #fff;
}
#addtoparty{
	cursor: pointer;
}
#addtoparty:hover{
	color: #fff;
}
#playit{
	cursor: pointer;
}
#playit:hover{
	color: #fff;
}
#submit{
	cursor: pointer;
}
#submit:hover{
	color: #fff;
}
#about{
	cursor: pointer;
}
#about:hover{
	color: #fff;
}



/*
     FILE ARCHIVED ON 20:23:31 Apr 17, 2016 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 22:23:48 Mar 15, 2025.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.6
  exclusion.robots: 0.034
  exclusion.robots.policy: 0.021
  esindex: 0.011
  cdx.remote: 39.758
  LoadShardBlock: 349.669 (3)
  PetaboxLoader3.datanode: 109.291 (4)
  PetaboxLoader3.resolve: 315.894 (2)
  load_resource: 111.647
*/